.header{
    -fx-padding: 12 8 12 8;
    -fx-background-color: #FFFFFF;
}

.info{
    -fx-min-width: 150;
}

.contain{
    -fx-min-width: 48;
    -fx-min-height:48;
    -fx-background-color: rgba(204,204,204,0.3);
    -fx-background-radius: 100%;
}

.name{
    -fx-font-family: 'Lexend';
    -fx-font-size: 16;
    -fx-font-weight: bolder;
}

.chat{
    -fx-padding: 12 8 12 8;
    -fx-background-color:rgba(200,80,242,0.3);
    -fx-min-height: 500;
}

.time{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 50;
    -fx-max-width: 120;
    -fx-min-width:120;
    -fx-min-height: 40;
}

.myChat{
    -fx-padding: 8 12 8 12;
    -fx-background-color: rgba(34, 139, 230, 0.8);
    -fx-background-radius: 50 0 50 50;
/*    -fx-max-width: 200;
    -fx-min-width:200;*/
    -fx-min-height: 40;
}

.myText {
    -fx-font-family: 'Lexend';
    -fx-font-size: 14;
    /*-fx-font-weight: bolder;*/
    -fx-text-fill: #FFFFFF;
}

.anoText{
    -fx-font-family: 'Lexend';
    -fx-font-size: 12;
    /*-fx-font-weight: bolder;*/
    -fx-text-fill: #333;
}

.yourChat{
   -fx-padding: 8 12 8 12;
   -fx-background-color: rgba(250, 82, 82, 0.8);
   -fx-background-radius: 0 50 50 50;
   -fx-min-height: 40;
}

.footer{
    -fx-padding: 18 12 18 12;
    -fx-background-color: #FFFFFF;
}

.input{
    -fx-min-height: 48;
    -fx-min-width: 240;
    -fx-border: none !important;
    -fx-background-radius: 50;
    -fx-padding: 0 0 0 12;
    -fx-font-size: 14;
    /*-fx-border-radius: 50;*/
/*    -fx-border-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-inner-border: transparent;*/
}

.input:focused {
    -fx-border-color: rgba(34, 139, 230, 0.6); /* Màu sắc đường viền khi focus */
    -fx-border-radius: 50; /* Độ cong của góc */
    -fx-border-width: 3; /* Độ rộng của đường viền */
}

.containSt{
    -fx-min-width: 48;
    -fx-max-width:48;
    -fx-max-height:48;
    -fx-min-height:48;
    -fx-background-color: rgba(204,204,204,0.3);
    -fx-background-radius: 100%;
}